* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header{
    text-align: center;
    background-color: rgb(229, 219, 204);
    padding: 20px 0;
}
.body{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    padding-top: 50px;
}
.card{
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
}
.card h2, h3, h4{
    padding-bottom: 7px;
}